:root {
    --color-background: oklch(100% 0.002 265);
    --color-backdrop: hsla(0, 0%, 63%, 0.521);
    --color-text: oklch(10% 0 0);
    --color-check: oklch(40% 0.199 265.638);
    --color-priority-high: oklch(25% 0.003 258.338);
    --color-priority-medium: oklch(45% 0.003 258.338);
    --color-priority-low: oklch(65% 0.003 258.338);
}

#root { color: var(--color-text); }

header,
.todo,
dialog {
    background-color: var(--color-background);
    color: var(--color-text);
}

.progress-bar-fill { transition: 240ms ease allow-discrete; }

dialog {
    transform: translateY(100%);
    transition: 240ms ease allow-discrete;
}

dialog[open] {
    transform: translate(0%);
    @starting-style {
        transform: translateY(100%);
    }
}

dialog::backdrop {
    background-color: var(--color-backdrop);
    backdrop-filter: blur(0.5rem);
    transition: 240ms ease-out allow-discrete;

    @starting-style {
        background-color: hsla(0, 0%, 100%, 0);
        backdrop-filter: blur(0);
    }
}

dialog label:has(input[type="radio"]) { transition: 240ms ease; }
  
dialog label input[type="radio"] { opacity: 0; }
  
dialog label:first-child:has(input:checked) { 
    background-color: var(--color-priority-high)/* rgb(255, 205, 111) */;
    color: whitesmoke;
}

dialog label:nth-child(2):has(input:checked) { 
    background-color: var(--color-priority-medium)/* rgb(137, 196, 255) */;
    color: whitesmoke; 
}

dialog label:last-child:has(input:checked) { 
    background-color: var(--color-priority-low)/* rgb(178, 255, 134) */; 
    color: whitesmoke;
}

.add-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.25rem;
}

.check-label {
    background-color: var(--color-priority-high);
    svg { opacity: 0; }

    &:has(input:checked) {
        background-color: var(--color-check);
        svg { opacity: 1; }
    }
}