@import "tailwindcss";

@theme {
  --color-background: oklch(100% 0.002 265);
  --color-backdrop: hsla(0, 0%, 63%, 0.521);
  --color-text: oklch(10% 0 0);
  --color-check: oklch(40% 0.199 265.638);
  --color-PH: oklch(25% 0.003 258.338);
  --color-PM: oklch(45% 0.003 258.338);
  --color-PL: oklch(65% 0.003 258.338);
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #eeeeee;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  height: 100vh;
  width: 100vw;
  min-width: 20rem;
  min-height: 100vh;
  display: flex;
  place-content: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: 200ms ease;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}